.transform-style .container {
    width:500px;
    height:300px;
    margin:10px auto;
    position:relative;
}
.transform-style .inner {
    width:142px;
    height:200px;
   position:absolute;
}
@keyframes inner{
   0%{
       transform:rotateY(0deg)
   }
   100%{
       transform:rotateY(360deg)
   }
}
.transform-style .inner:hover{
   animation:inner 5s linear infinite;
} 
.transform-style .rotate {
   background: url("http://images2015.cnblogs.com/blog/561794/201604/561794-20160412230412973-1641353956.jpg") no-repeat center;
   border: 5px solid hsla(50,50%,50%,.9);
  transform: perspective(200px) rotateY(45deg);     }
.transform-style .rotate img{
   border: 1px solid green;
   transform: rotateX(15deg) translateZ(10px);
   transform-origin: 0 0 40px;
}
.transform-style .three-d {
   transform-style: preserve-3d;
}